.MyPosts {

}

.MyPost {
    background-color: #B8D0DB;
    border-radius: 5px;
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.MyPostTextArea {
    outline: none;
    border: 1px solid rgba(185, 227, 229, .7);
    resize: none;
    margin: 10px;
    width: 550px;
    height: 50px;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
}

.MyPostBtn {
    height: 35px;
    outline: none;
    background-color: rgba(255, 179, 136, 1);
    border: 1px solid rgba(185, 227, 229, .7);
    border-radius: 5px;
    transition: all .3s;
}

.MyPostBtn:hover {
    transform: scale(.95);
}

.MyPostInner {
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #B8D0DB;
}

.MyPostItem {
    color: black;
}
