.ProfileInfoWrapper {
    padding: 15px;
}

.ProfileInfoBg img {
    width: 100%;
}

.ProfileInfoInner {
    display: grid;
    grid-template-areas:
    "left right";
    grid-template-columns: 2fr 6fr;
}

.ProfileInfoLeft {
    grid-area: left;
    background-color: #B8D0DB;
    border-radius: 5px;
}

.ProfileInfoAva {
    border-radius: 5px;
    position: relative;
    height: 222px;
}

.ProfileInfoAvaImg {
    width: 200px;
    height: 200px;
    margin: 20px 20px 0 20px;
    border: 1px solid rgba(255,255,255,0);
    border-radius: 5px;
}

.ProfileInfoChange {
    position: absolute;
    cursor: pointer;
    width: 200px;
    height: 16%;
    top: 174px;
    left: 20px;
    background-color: rgba(0,0,0,.3);
    color: rgba(255,255,255,.8);
    text-align: center;
    padding-top: 11px;
    transition: all .25s ease-in-out;
    opacity: 0;
    overflow: hidden;
}

.ProfileInfoAva:hover .ProfileInfoChange{
    opacity: 1;
}

.ProfileInfoSettings {
    width: 200px;
    margin: 20px auto;
    text-align: center;
}

.ProfileInfoSettingsLink {
    background-color: rgba(255, 179, 136, 1);
    border-radius: 5px;
    color: rgba(0,0,0, .7);
    padding: 5px 46px;
    transition: all .3s;
}

.ProfileInfoSettingsLink:hover {
    font-size: 15px;
}

.ProfileRight {
    grid-area: right;
    background-color: #B8D0DB;
    border-radius: 5px;
    width: 700px;
    height: 283px;
    margin-left: 10px;
    position: relative;
}

.divider {
    width: 588px;
    height: 1px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    top: 30%;
    left: 13%;
}

.divider1 {
    width: 511px;
    height: 1px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    top: 49%;
    left: 24%;
}

.divider2 {
    width: 454px;
    height: 1px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    top: 69%;
    left: 32%;
}

.ProfileRightInner {
    padding: 20px;
}

.ProfileInfoName {
    font-size: 25px;
}

.ProfileRightTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    /*border-bottom: 1px solid rgba(0,0,0,.15);*/

}

.ProfileRightTitle {
    color: rgba(255,255,255,.8);
    font-size: 15px;
    padding-bottom: 5px;
}

.ProfileRightTitle {
}

.ProfileInfoDescr{
    font-size: 15px;
    padding-bottom: 10px;

}

.ProfileInfoFriends {
    margin-top: 10px;
    background-color: #B8D0DB;
    width: 242px;
    height: 500px;
    border-radius: 5px;
}

.ProfileInfoFriendsInner {
    padding: 10px;
}

.ProfileInfoFriendsTitle {
    font-size: 15px;
    color: rgba(255,255,255,.8);
    padding-bottom: 5px;
}

.ProfileInfoAllFriends {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(0,0,0,.4);
}

.ProfileInfoAllOnline {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ProfileInfoFriendsIcon {
    width: 60px;
    height: 60px;
}
.ProfileInfoFriend {
    width: 70px;
}

.ProfileRightListItems {
    margin-top: 35px;
    background-color: #B8D0DB;
    border-radius: 5px;
}

.ProfileRightList {
    padding: 10px;
}

.ProfileRightList {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.ProfileRightItemLink {
    color: rgba(0,0,0,.8);
}

.ProfileRightItem:not(:last-child) {
    margin-right: 60px;
}

.ProfileRightItemNumber {
    font-size: 23px;
}
