ul,
li{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.app-inner {
    display: grid;
    margin: 0 auto;
    padding-top: 60px;
    width: 1200px;
    height: 100vh;
    grid-template-areas:
         "n c";

    /* grid-template-rows: 60px 1fr; */
    grid-template-columns: 2fr 10fr;
    /* grid-gap: 10px; */
}

.app-inner-content {
    grid-area: c;
    height: 100%;
    background: rgba(146, 242, 255, .2);
}




